Data/NYT/nyt_1985.csv
Data/NYT/nyt_1986.csv
Data/NYT/nyt_1987.csv
Data/NYT/nyt_1988.csv
Data/NYT/nyt_1989.csv
Data/NYT/nyt_1990.csv
Data/NYT/nyt_1991.csv
Data/NYT/nyt_1992.csv
Data/NYT/nyt_1993.csv
Data/NYT/nyt_1994.csv
Data/NYT/nyt_1995.csv
Data/NYT/nyt_1996.csv
Data/NYT/nyt_1997.csv
Data/NYT/nyt_1998.csv
Data/NYT/nyt_1999.csv
Data/NYT/nyt_2000.csv
Data/NYT/nyt_2001.csv
Data/NYT/nyt_2002.csv
Data/NYT/nyt_2003.csv
Data/NYT/nyt_2004.csv
Data/NYT/nyt_2005.csv
Data/NYT/nyt_2006.csv
Data/NYT/nyt_2007.csv
Data/NYT/nyt_2008.csv
Data/NYT/nyt_2009.csv
Data/NYT/nyt_2010.csv
Data/NYT/nyt_2011.csv
Data/NYT/nyt_2012.csv
Data/NYT/nyt_2013.csv
Data/NYT/nyt_2014.csv
Data/NYT/nyt_2015.csv
Data/NYT/nyt_2016.csv
Data/NYT/nyt_2017.csv
Data/NYT/nyt_2018.csv
